<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
   
</head>
<style>
    .view
    {
        height:100vh;
    }
    .login{
        width: 500px;
    }
    .login h1{
        text-align: center;
        padding: 15px;
    }
    .login form input{
        display: block;
        width: 500px;
        height: 40px;
    }
    .login form label
    {
       align-items: center;
    }
    .login-inner
    {
        padding: 10px;
        margin-left: 190px;
        text-align: center;
    }
    .login p{
        text-align: center;
    }

</style>
<body style="background-color: rgb(6, 78, 107);">
    <section class="view d-flex justify-content-center align-items-center">
        <div class="login">
           
            <h1>QUIZAPP REGISTRATION</h1>
            <div class="col-md-6">
            <form method="POST" action="/register/">
                {% csrf_token %}
                <div class="form-group">
                <label>Studentname</label>
                <input type="text" name="username" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
               <label>email</label>
                <input type="email" name="email" placeholder="abc@gmail.com" required>
                </div>
                <div class="form-group">
                    <label>Course&Branch</label>
                     <input type="text" name="course" placeholder="Btec/CSE" required>
                     </div>
                     <div class="form-group">
                        <label>Phone Number</label>
                         <input type="text" name="phone"  required>
                         </div>
                <div class="login-inner">
                    <button type="submit" class="btn btn-success">
                        Register
                    </button>
                </div>
               </form>

             </div>  
             <h2 style="color:brown;font-weight: bolder;" >{{msg}}</h2>
        </div>
    </div>
    </section>
    
</body>
</html>